<section class="bg-primary" id="sponsors">
  <div class="container">
      <div class="row">
          <div class="col-lg-8 col-lg-offset-2 text-center">
              <h2 class="section-heading">Huge Thanks to Our Main Sponsors!</h2>
              <hr class="light">
              <p class="text-faded">
                <ul>
                  <li>put them sponsors here</li>
                </ul>
              </p>
              <a href="{{site.baseurl}}/support.html" style="color: rgb(255,255,255)">
                <h3>Interested in supporting us with money? Click right here</h3>
              </a>
          </div>
          <div class="col-lg-8 col-lg-offset-2 text-center">
          </div>
      </div>
  </div>
</section>
