<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Sailing Towards a Sustainable Future</h2>
                <hr class="light">
                <p class="text-faded">
                  <div align="left">Sailing boat is the ancient form of sustainable navigations.
With emerging robotics technology, sailboat is gaining increased interest because its potential in providing a continuous access for ocean data at extreme low cost.

Unmanned sailing, however, is a challenging task that involved with complex dynamic interactions between environment.

To wider the application of autonomous sailing platform, we initiate this open-source project to develop and share our design with educators, hobbyists and researchers.
</div>


 </p>

            </div>
        </div>
    </div>
</section>
