<section class="bg-dark" id="sponsors">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading">Our Proud Sponsors</h2>
        <hr class="primary">
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 text-center">
        <a href="http://www.southampton.ac.uk/iliad/education-innov/eef.page?page=1">Education Enhancement Fund - University of Southampton</a>,
        <a href="https://www.southampton.ac.uk/engineering/research/groups/fsi.page">Fluid Structure Interactions Group</a>,
        <a href="https://noc.ac.uk">MARS Group - National Oceanography Centre</a>,
        Lester Gilbert,
        <a href="https://www.xsens.com">Xsens</a>,
        <a href="http://www.sailsetc2.com/store/">SailsEtc</a>,
        Nigel Brown, <a href="http://www.catsails.co.uk/">Catsails</a>,
        Alistair Lynn,
        Tim Miller,
        Tobias Schneider,
        Harry Cutts,
        Matt Brown,
        Fiona Collins,
        Arnaud Wiertz,
        Kerrine Lee,
        Andy Sprot,
        Bob Preston,
        Simone Provenzano
      </div>
    </div>
    <div class="col-md-12 text-center">
      <h3>A big thanks to all who financially supported us! We couldn't have done it without you all.</h3>
      <h3>If you'd like to sponsor us yourself ( as you should ;) ), <a href="mailto:{{ site.email }}">drop us a line here!</a></h3>
    </div>
  </div>
</section>
